<%- include('partials/header') %>

<div class="jumbotron text-center">
  <div class="container">
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-3">My Secrets</h1>
    <hr>
    <% mySecrets.forEach(element => { %>
    <div class="row">
      <div class="col-md-11">
        <p class="secret-text"><%= element.secrets %> </p>
      </div>
      <div class="col-md-1 pt-1"> <a class="btn btn-light btn-lg mb-3" href="/secret-delete/<%= element._id %> "
          role="button">X</a></div>
      <hr>
    </div>
    <% }) %>
    <a class="btn btn-light btn-lg mb-3" href="/logout" role="button">Log Out</a>
    <a class="btn btn-dark btn-lg mb-3" href="/submit" role="button">Submit Another Secret</a>
    <a class="btn btn-light btn-lg mb-3" href="/secrets" role="button">Discover Secrets</a>
  </div>
</div>

<%- include('partials/footer') %>