
body {
  background-color: #E8ECEF;
}

.centered {
    padding-top: 200px;
    text-align: center;
}

.secret-text {
  text-align: center;
  font-size: 2rem;
  color: #fff;
  background-color: #61d800;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  padding-top: 5px;
  padding-bottom: 5px;
}
.btn-google{
  background-color:#DB4437; 

}
.btn-google-text{
  color:white;
  font-size: 1.4rem;
}